.home{
    max-width: 100%;
    margin-left: auot;
    margin-right: auto;
    
}

.home_row{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.homeImage{
    max-height: 10px;
}